<head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" id="scheme-source" href="css/gray.css" />
    <link rel="stylesheet" href="css/over_style.css"/>
    <link rel="stylesheet" href="css/hover.css"/>
    <!-- BEGIN PAGE STYLE -->
    <link rel="stylesheet" href="plugins/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="plugins/bxslider/jquery.bxslider.min.css" />
    <link rel="stylesheet" href="plugins/text-rotator/simpletextrotator.min.css">
    <link rel="stylesheet" href="plugins/magnific/magnific-popup.min.css" />
    <!-- END PAGE STYLE -->
    <!-- [if lt IE 9]>
      <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif] -->
  </head>
