<div class="cont_slide_team container">
{% for people in site.data.people %}
    {% if people.team == 'staff' %}
    
    
        <div class="slide_team">
            
                <img src="images/team/{{ people.team }}/{{ people.name | replace: ' ','_'  }}.jpg" alt="{{ people.name }}" class="council grey">
            
            <div class="cont_team_detail">
                  
                <div class="clear"></div>
                <p class="name">{{ people.name }} 
                    <a href="{{ people.link }}" target="_blank" class="link_hover">
                        <small><i class="fa fa-linkedin-square"></i></small>
                    </a>
                    {% if people.twitter %}
                        <a href="{{ people.twitter }}" target="_blank" class="link_hover">
                            <small><i class="fa fa-twitter"></i></small>
                        </a>
                    {% endif %}
                </p>
                <p class='rule council'>{{ people.ruolo }}</p>
                <p class='team_position'><small>{{ people.posizione }}</small></p>
                <div class="clear"></div>
                </div>
                <div class="clear"></div>
        </div>
        
    
        
    {% endif %}
{% endfor %}
</div>
