<!--  Begin Topbar simple -->
    <div class="topnav fixed-topnav transparent">
      <form action="#" class="form-search" id="top-search" method="get" role="form">
        <div>
          <div class="search-inner clearfix">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Search" name="s" class="search-input" autocomplete="off">
            <input type="submit" value="Search">
            <div class="search-close">
              <a href="#"><i class="line-icon-close"></i></a>
            </div>
          </div>
        </div>
      </form>
      <div class="section">
        <div id="topbar-hold" class="nav-hold">
          <nav class="navbar" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <!-- Site Name -->
              <a class="site-name navbar-brand" href="index.html"></a>
            </div>
            <!-- Main Navigation menu Starts -->
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="current">
                  <a href="#home" data-toggle="collapse" data-target=".navbar-collapse">Welcome</a>
                </li>
                <li>
                  <a href="#services" data-toggle="collapse" data-target=".navbar-collapse">Our Vision</a>
                </li>
		<li>
                  <a href="#mission" data-toggle="collapse" data-target=".navbar-collapse">Our Mission</a>
                </li>
                <li>
                  <a href="#team" data-toggle="collapse" data-target=".navbar-collapse">Offering</a>
                </li>
                <li>
                  <a href="#portfolio" data-toggle="collapse" data-target=".navbar-collapse">Team</a>
                </li>
                <li>
                  <a href="#news" data-toggle="collapse" data-target=".navbar-collapse">News</a>
                </li>
                <li>
                  <a href="#contact" data-toggle="collapse" data-target=".navbar-collapse">Contacts and locations</a>
                </li>
              </ul>
            </div>
            <!-- Main Navigation menu ends-->
          </nav>
        </div>
      </div>
    </div>
    <!--  End Topbar simple -->
