<!-- Begin Header Video Full Height -->
    <header id="home" class="height-full center" data-img="bg-video-green.png">
      <div class="video-player mb_YTPlayer" data-property="{videoURL:'https://youtu.be/5zRowCyspnE', containment:'#home', startAt:0, mute:true, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:0}"></div>
      <div class="container top-element">
        <div class="row top-text fade-text">
          
          
          
          <div class="col-md-10 col-md-offset-1">
            <div class="video-control">
              <div class="cont_logo_home"><h1 class="well-come"><img src="images/logo_text.png"></h1></div>
              <div class="cont_iframe"><iframe id='advanced_iframe'  name='advanced_iframe'  src='animation/blockchain.html'  width='100%'  height='200'  scrolling='no'  frameborder='0'  border='0'  allowtransparency='true' ></iframe></div>
              <img src="images/blockchainlab-logo-dark.png" id="play-video" class="control-play logo_small">
            </div>
            <p class="intro-message">Community. Competence. Contamination.</p>
            
          </div>
        </div>
      </div>
    </header>
    <!-- End Header Video Full Height -->
