<!DOCTYPE HTML>
<html class="one-page">
    {% include head.html %}
  <body>
    {% include preloader.html %}
      
    {% include topbar.html %}

    {% include topvideo.html %}

    <!-- Begin Services 3 columns 1 row -->
    <section id="services" class="section-services services-wrap ov-hidden">
      <div class="container services">
        <h3 class="section-title m-b-30">Our vision</h3>
        <div class="row">
          <div class="col-md-12 service p-b-0">
            <div class="service-desc">
              <p class="service-description justify p-b-20 animated" data-animation="fadeIn" data-animation-delay="400">
                Blockchain innovation is a technological singularity.
              </p>
		<p class="service-description justify p-b-20 animated" data-animation="fadeIn" data-animation-delay="600">
			It has changed forever the way we create, obtain and exchange value.	
			      </p>
		<p class="service-description justify p-b-20 animated" data-animation="fadeIn" data-animation-delay="800">
				It has opened up this process, which is exactly what the Internet did with the information, and has achieved this through a complex mix of advanced cryptography, distributed systems and game theory.
			      </p>
		<p class="service-description justify p-b-20 animated" data-animation="fadeIn" data-animation-delay="1000">
				Since it is difficult to distinguish the hype from the real radical innovation of savings, payment systems, financial contracts, notarization and digital assets, a deep and honest understanding become even more crucial.
			      </p>
		
            </div>
          </div>
          
          
          
        </div>
      </div>      
    </section>
    <section id="mission" class="section-services services-wrap ov-hidden">
      <div class="container services">
        <h3 class="section-title m-b-30">Our mission</h3>
        <div class="row">
          <div class="col-md-12 service p-b-0">
            <div class="service-desc">
              <p class="service-description justify p-b-20 animated" data-animation="fadeIn" data-animation-delay="400">
                Blockchainlab nurtures the strongest community of experts and provides enterprises with the skills to understand and use the blockchain.
              </p>
		
		
            </div>
          </div>
          
          
          
        </div>
      </div>      
    </section>	
    
    <!-- Progetto -->
    <section id="team" class="section-portfolio p-b-0">
    <div class="bg_transparent">
      <div class="container m-b-30 animated" data-animation="fadeIn" data-animation-delay="500">
        <h3 class="section-title text-center p-b-10">Offering</h3>
        <div class="col-md-12">
            <div class="cont_offers row">
                
                    <div class="col-md-6">
                        <div class="offers_in hvr-underline-from-center">
                            <div class="offer_title"><i class="fa fa-puzzle-piece"></i> <b>Market Intelligence</b></div>
                            <div class="offer_content">Blockchainlab provides clear and succinct reports, synthesising all of the fundamental knowledge, necessary for comprehending this complex ecosystem.</div>
                            <div class="offer_footer"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="offers_in hvr-underline-from-center">
                            <div class="offer_title"><i class="fa fa-bullhorn"></i> <b>Sponsorship</b></div>
                            <div class="offer_content">We organise monthly meetups with the local community. Also, we attract outstanding international conferences in Milan, attended by the global community. These are tremendous opportunities for our clients in order to get recognition and prime visibility in the blockchain environment.</div>
                            <div class="offer_footer"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="offers_in hvr-underline-from-center">
                            <div class="offer_title"><i class="fa fa-code"></i> <b>Academy</b></div>
                            <div class="offer_content">BlockchainLab offers specifically designed C-suit courses, developer courses and e-learning held by recognised experts both from the Italian and the Global communities.</div>
                            <div class="offer_footer"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="offers_in hvr-underline-from-center">
                            <div class="offer_title"><i class="fa fa-cogs"></i> <b>Projects</b></div>
                            <div class="offer_content">BlockchainLab develops Projects and Proofs of Concept covering different industries and business areas by leveraging on the blockchain technology.</div>
                            <div class="offer_footer"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="offers_in hvr-underline-from-center">
                            <div class="offer_title"><i class="fa fa-retweet"></i> <b>Investment opportunities</b></div>
                            <div class="offer_content">Thanks to our network we are able to get to connect with the various startup teams and thereupon we assist our clients in structuring the best investment deals.</div>
                            <div class="offer_footer"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="offers_in hvr-underline-from-center">
                            <div class="offer_title"><i class="fa fa-users"></i> <b>Skill scouting</b></div>
                            <div class="offer_content">Real experts are difficult to locate, reach and effectively attract within the enterprise world. We help our clients to spot the best specialists, to meet and structure a deal with them.</div>
                            <div class="offer_footer"></div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                    
                        <div class="offers_in  hvr-underline-from-center">
                            <div class="offer_title"><i class="fa fa-university"></i> <b>Senior</b></div>
                            <div class="offer_content">The senior program provides the access to a bundle composed of our 6 modules and additionally it grants the exclusivity of our services to one single enterprise in a specific industry, the CEO consulting module and a seat on BlockchainLab Steering Committee and Scientific Committee.</div>
                            <div class="offer_footer"></div>
                        </div>
                    
                    
                    </div>
                
            </div>
        </div>
        
        
      </div>
    </div>  
    <div class="foto"></div>
         
    </section>
    <!-- End Progetto -->    
    
    <!-- Begin Clients-->
    <section class="section-testimonials parallax bg-dark" data-img="bg/bg-8.jpg">
      <div class="section-overlay"></div>
      <div class="container center">
        <div class="row">
          <div class="col-md-12">
            <h3>BLOCKCHAINLAB CUSTOMERS</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div id="testimonials-pager" class="testimonial-photos">
              <a  href="http://www.azimut.it/" target="_blank" class="photo-hold">
                <img src="images/logo/logo_azimut.png" alt="" /> <!-- Client photo 1 -->
              </a>
              <a href="https://www.intesasanpaolo.com/" target="_blank" class="photo-hold">
                 <img src="images/logo/logo_intesa.png" alt="" /> <!-- Client photo 2 -->
              </a>
              
            </div>
            
          </div>
        </div>
      </div>
    </section>
    <!-- End Clients -->

    <!-- Begin Portfolio Boxed 3 columns with Gutter -->
    <section id="portfolio" class="section-portfolio bg-gray-light p-b-10">
    <div class="bg_transparent">
      <div class="center container">
            <p class="font-20">Research team blockchain technologies.</p>
          </div>
      </div>
    </div>
      
        
        <div class="container">
            <div class="text-center tit_staff">Staff - Committees</div>
            {% include staff_team.html %}
            <div class="clear"></div>
            <div class="text-center tit_staff">resident - visiting experts</div>
            {% include resident_team.html %}
        </div>
      </div>    
    </section>
    <!-- End Portfolio Boxed 3 columns with Gutter -->

    <!-- Begin  Blog List -->
    <section id="news" class="section-blog p-t-60 clearfix">
      <div class="container">
        <div class="row">
          <div class="center m-b-0 p-t-10">
            <h3 class="section-title">Latest News</h3>
          </div>
          
        </div>
        <div class="row">
        
            <div class="cont_post container">
                
                {% for post in site.posts %}
                    <div class="post_in">
                        <div class="post">
                            <div class="post-thumbnail">
                                <figure class="effect-ming">
                                    <img src="/images/{{ post.image }}" alt="post 1">
                                    <figcaption>
                                    <p>{{ post.image_desc }}</p>
                                    </figcaption>     
                                </figure>
                                
                            </div>
                            <div class="post-header">
                                <h2 class="post-title">{{ post.title }}</h2>
                                <div class="post-meta">
                                <b>{{ post.date | date: "%b %d, %Y" }}</b> <small>{{ post.tag }}</small>
                                </div>
                            </div>
                            <div class="post-excerpt">
                                {{ post.content }}
                            </div>
                        </div>
                    </div>    
                {% endfor %}
            </div>
            <div class="cont_pos_nav text-center">
                <div class="post_nav post_nav_left"><i class="fa fa-angle-left"></i></div>
                <div class="post_nav post_nav_right"><i class="fa fa-angle-right"></i></div>
            </div>
        </div>
         
      </div>
       
    </section>
   
    <!-- Begin Footer 3 columns Dark -->
    <div id="contact" class="section-footer footer-wrap bg-dark">
      <div class="container footer center">
        <div class="row">
          
          
          <div class="col-md-4">
            <h4 style="color:#FFF;">Info BLOCKCHAINLAB</h4>
            <p><i class="line-icon-map"></i>via Copernico 38, Milano</p>
            <p><i class="line-icon-screen-smartphone"></i>+39 02 9285 2210</p>
            <p><i class="line-icon-envelope-open"></i>info@blockchainlab.it</p>
            <p><i class="line-icon-calendar"></i>9am - 20 pm 7/7</p>
          </div>
          
          <div class="col-md-4">
            <h4>Get In Touch</h4>
            <div class="social-icons social-square">
              <ul class="text-left">
                <li><a href="https://www.facebook.com/blockchainlab.it" class="animated" data-animation="fadeIn" data-animation-delay="300" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/blockchainlabit" class="animated" data-animation="fadeIn" data-animation-delay="400" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="http://google.com/+BlockchainlabIt" class="animated" data-animation="fadeIn" data-animation-delay="500" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.linkedin.com/company/blockchainlabit" class="animated" data-animation="fadeIn" data-animation-delay="600"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
              	<li><a href="https://www.soundcloud.com/blockchainlabit" class="animated" data-animation="fadeIn" data-animation-delay="700"  target="_blank"><i class="fa fa-soundcloud"></i></a></li>
              	<li><a href="https://www.crunchbase.com/organization/blockchainlab" class="animated" data-animation="fadeIn" data-animation-delay="800"  target="_blank"><i class="fa fa-money"></i></a></li>
              	<li><a href="https://www.youtube.com/channel/UC8oWjgG__6AH8BV3UETwuJw" class="animated" data-animation="fadeIn" data-animation-delay="800"  target="_blank"><i class="fa fa-youtube"></i></a></li>
              	
              </ul>
            </div>
          </div>
          
          <div class="col-md-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44753.137614353196!2d9.178016732098225!3d45.488512947400366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c6d9ef573c67%3A0xf85d28f3d532d3b5!2sCopernico+Milano!5e0!3m2!1sit!2sit!4v1454585380048" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          
        </div>
      </div>
    </div>
    <!-- End Footer 3 columns Dark
    <section class="section-call-action bg-gray-light">
      <div class="container center">
        <div class="row">
          <div class="col-md-12">
            
            <div class="pharse_slide owl-carousel">
                {% for pharse in site.data.phrases %}
                   <div class="pharse center">
                        <h4>{{ pharse.pharse }}</h4>
                        <small>{{ pharse.author }}</small>
                    </div>
                {% endfor %}
            </div>
            
            
          </div>
          
        </div>
      </div>
    </section>-->

    <!-- Begin Copyright Dark -->
    <div class="section-copyright bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Copyright 2016 BLOCKCHAINLAB Srl - via Timavo 34, Milano - Cod. Fis. 09293740966</p>
          </div>
        </div>
      </div>
    </div>
    
    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
	{% include footer.html %}
    
  </body>
</html>
