<!DOCTYPE HTML>
<html class="one-page">
    {% include head.html %}
  <body>
    {% include preloader.html %}
      
    {% include topbar.html %}

    {% include topvideo.html %}

    <!-- Begin Services 3 columns 1 row -->
    <section id="services" class="section-services services-wrap ov-hidden">
      <div class="container services">
        <h3 class="section-title m-b-30">blockchainlab</h3>
        <div class="row">
          <div class="col-md-12 service p-b-0">
            <div class="service-desc">
              <p class="service-description justify p-b-20 animated" data-animation="fadeIn" data-animation-delay="400">
                <span class="quote_left"><i class="fa fa-quote-left"></i></span>
                La blockchain è una rivoluzionaria forma di registro distribuito che, per la prima volta nella storia dell’uomo, rende possibile riprodurre la scarsità nel mondo digitale, senza bisogno di terze parti o enti centrali. La tecnologia blockchain, su cui i 
                <span class="quote_left"><i class="fa fa-quote-right"></i></span>
             </p>
              <p class="service-description justify p-b-20 animated" data-animation="fadeIn" data-animation-delay="600">
                <span class="quote_left"><i class="fa fa-quote-left"></i></span>
                La blockchain è una rivoluzionaria forma di registro distribuito che, per la prima volta nella storia dell’uomo, rende possibile riprodurre la scarsità nel mondo digitale, senza bisogno di terze parti o enti centrali. La tecnologia blockchain, su cui i principali player globali stanno investendo,
                <span class="quote_left"><i class="fa fa-quote-right"></i></span>
              </p>
              <p class="service-description justify p-b-20 animated" data-animation="fadeIn" data-animation-delay="800">
                <span class="quote_left"><i class="fa fa-quote-left"></i></span>
                La blockchain è una rivoluzionaria forma di registro distribuito che, per la prima volta nella storia dell’uomo, rende possibile riprodurre la scarsità nel mondo digitale, .
                <span class="quote_left"><i class="fa fa-quote-right"></i></span>
              </p>
              <p class="service-description justify p-b-20 animated" data-animation="fadeIn" data-animation-delay="1000">
                <span class="quote_left"><i class="fa fa-quote-left"></i></span>
                La blockchain è una rivoluzionaria forma di registro distribuito che, per la prima volta nella storia dell’uomo, rende possibile riprodurre la scarsità nel mondo digitale, senza bisogno di terze parti o enti centrali. La tecnologia blockchain, su cui i principali player glob
                <span class="quote_left"><i class="fa fa-quote-right"></i></span>
              </p>
              <p class="service-description justify p-b-20 animated" data-animation="fadeIn" data-animation-delay="1200">
                <span class="quote_left"><i class="fa fa-quote-left"></i></span>
                La blockchain è una rivoluzionaria forma di registro distribuito che, per la prima volta nella storia dell’uomo, rende possibile riprodurre la scarsità nel mondo digitale, 
                <span class="quote_left"><i class="fa fa-quote-right"></i></span>
              </p>
            </div>
          </div>
          
          
          
        </div>
      </div>      
    </section>
    
    <!-- Progetto -->
    <section id="team" class="section-portfolio p-b-10">
    <div class="bg_transparent">
      <div class="container m-b-30 animated" data-animation="fadeIn" data-animation-delay="500">
        <h3 class="section-title text-center p-b-10">Our offers</h3>
        <div class="col-md-12">
            <div class="cont_offers row">
                
                    <div class="col-md-6">
                        <div class="offers_in">
                            <div class="offer_title"><i class="fa fa-cogs"></i> Fake offer</div>
                            <div class="offer_content">Nam elit purus, tempus vel velit non, laoreet tempus ligula. Suspendisse eu condimentum urna.</div>
                            <div class="offer_footer">Nam elit purus, tempus vel</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="offers_in">
                            <div class="offer_title"><i class="fa fa-cogs"></i> Fake offer</div>
                            <div class="offer_content">Nam elit purus, tempus vel velit non, laoreet tempus ligula. Suspendisse eu condimentum urna.</div>
                            <div class="offer_footer">Nam elit purus, tempus vel</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="offers_in">
                            <div class="offer_title"><i class="fa fa-cogs"></i> Fake offer</div>
                            <div class="offer_content">Nam elit purus, tempus vel velit non, laoreet tempus ligula. Suspendisse eu condimentum urna.</div>
                            <div class="offer_footer">Nam elit purus, tempus vel</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="offers_in">
                            <div class="offer_title"><i class="fa fa-cogs"></i> Fake offer</div>
                            <div class="offer_content">Nam elit purus, tempus vel velit non, laoreet tempus ligula. Suspendisse eu condimentum urna.</div>
                            <div class="offer_footer">Nam elit purus, tempus vel</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="offers_in">
                            <div class="offer_title"><i class="fa fa-cogs"></i> Fake offer</div>
                            <div class="offer_content">Nam elit purus, tempus vel velit non, laoreet tempus ligula. Suspendisse eu condimentum urna.</div>
                            <div class="offer_footer">Nam elit purus, tempus vel</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="offers_in">
                            <div class="offer_title"><i class="fa fa-cogs"></i> Fake offer</div>
                            <div class="offer_content">Nam elit purus, tempus vel velit non, laoreet tempus ligula. Suspendisse eu condimentum urna.</div>
                            <div class="offer_footer">Nam elit purus, tempus vel</div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                    
                        <div class="offers_in">
                            <div class="offer_title"><i class="fa fa-cogs"></i> Fake offer</div>
                            <div class="offer_content">Nam elit purus, tempus vel velit non, laoreet tempus ligula. Suspendisse eu condimentum urna.</div>
                        </div>
                    
                    
                    </div>
                
            </div>
        </div>
        
        
      </div>
    </div>  
      <div class="foto"></div>
         
    </section>
    <!-- End Progetto -->    
    
    <!-- Begin Clients-->
    <section class="section-testimonials parallax bg-dark" data-img="bg/bg-8.jpg">
      <div class="section-overlay"></div>
      <div class="container center">
        <div class="row">
          <div class="col-md-12">
            <h3>CLIENTI BLOCKCHAINLAB</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div id="testimonials-pager" class="testimonial-photos">
              <a  href="http://www.azimut.it/" target="_blank" class="photo-hold">
                <img src="images/logo/logo_azimut.png" alt="" /> <!-- Client photo 1 -->
              </a>
              <a href="https://www.intesasanpaolo.com/" target="_blank" class="photo-hold">
                 <img src="images/logo/logo_intesa.png" alt="" /> <!-- Client photo 2 -->
              </a>
              
            </div>
            
          </div>
        </div>
      </div>
    </section>
    <!-- End Clients -->

    <!-- Begin Portfolio Boxed 3 columns with Gutter -->
    <section id="portfolio" class="section-portfolio bg-gray-light p-b-10">
    <div class="bg_transparent">
      <div class="center container">
            <p class="font-20">Team di ricerca tecnologie blockchain.</p>
          </div>
      </div>
    </div>
      
        
        <div class="container">
            <div class="text-center tit_staff">staff - scientific experts</div>
            {% include staff_team.html %}
            <div class="clear"></div>
            <div class="text-center tit_staff">resident - visiting experts</div>
            {% include resident_team.html %}
        </div>
      </div>    
    </section>
    <!-- End Portfolio Boxed 3 columns with Gutter -->

    <!-- Begin  Blog List -->
    <section id="news" class="section-blog p-t-60 clearfix">
      <div class="container">
        <div class="row">
          <div class="center m-b-10 p-t-10">
            <h3 class="section-title">Latest News</h3>
          </div>
        </div>
        <div class="row">
            <div class="cont_post container">
                {% for post in site.posts %}
                    <div class="post_in">
                        <div class="post">
                            <div class="post-thumbnail">
                                
                                <figure class="effect-ming">
                                    <img src="/images/{{ post.image }}" alt="post 1">
                                    <figcaption>
                                    <p>{{ post.image_desc }}</p>
                                    </figcaption>     
                                </figure>
                                
                            </div>
                            <div class="post-header">
                                <h2 class="post-title">{{ post.title }}</h2>
                                <div class="post-meta">
                                <b>{{ post.date | date: "%b %d, %Y" }}</b> <small>{{ post.tag }}</small>
                                </div>
                            </div>
                            <div class="post-excerpt">
                                {{ post.content }}
                            </div>
                        </div>
                    </div>    
                {% endfor %}
            </div>
        </div>
         
      </div>
       
    </section>
   
    <!-- Begin Footer 3 columns Dark -->
    <div id="contact" class="section-footer footer-wrap bg-dark">
      <div class="container footer center">
        <div class="row">
          
          
          <div class="col-md-4">
            <h4 style="color:#FFF;">Info BLOCKCHAINLAB</h4>
            <p><i class="line-icon-map"></i>via Copernico 38, Milano</p>
            <p><i class="line-icon-screen-smartphone"></i>+39 02 9285 2210</p>
            <p><i class="line-icon-envelope-open"></i>info@blockchainlab.it</p>
            <p><i class="line-icon-calendar"></i>9am - 20 pm 7/7</p>
          </div>
          
          <div class="col-md-4">
            <h4>Get In Touch</h4>
            <div class="social-icons social-square">
              <ul class="text-left">
                <li><a href="https://www.facebook.com/blockchainlab.it" class="animated" data-animation="fadeIn" data-animation-delay="300" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/blockchainlabit" class="animated" data-animation="fadeIn" data-animation-delay="400" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="http://google.com/+BlockchainlabIt" class="animated" data-animation="fadeIn" data-animation-delay="500" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.linkedin.com/company/blockchainlabit" class="animated" data-animation="fadeIn" data-animation-delay="600"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
              	<li><a href="https://www.soundcloud.com/blockchainlabit" class="animated" data-animation="fadeIn" data-animation-delay="700"  target="_blank"><i class="fa fa-soundcloud"></i></a></li>
              	<li><a href="https://www.crunchbase.com/organization/blockchainlab" class="animated" data-animation="fadeIn" data-animation-delay="800"  target="_blank"><i class="fa fa-money"></i></a></li>
              	<li><a href="https://www.youtube.com/channel/UC8oWjgG__6AH8BV3UETwuJw" class="animated" data-animation="fadeIn" data-animation-delay="800"  target="_blank"><i class="fa fa-youtube"></i></a></li>
              	
              </ul>
            </div>
          </div>
          
          <div class="col-md-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44753.137614353196!2d9.178016732098225!3d45.488512947400366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c6d9ef573c67%3A0xf85d28f3d532d3b5!2sCopernico+Milano!5e0!3m2!1sit!2sit!4v1454585380048" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          
        </div>
      </div>
    </div>
    <!-- End Footer 3 columns Dark -->
    <section class="section-call-action bg-gray-light">
      <div class="container center">
        <div class="row">
          <div class="col-md-12">
            
            <div class="pharse_slide owl-carousel">
                {% for pharse in site.data.phrases %}
                   <div class="pharse center">
                        <h4>{{ pharse.pharse }}</h4>
                        <small>{{ pharse.author }}</small>
                    </div>
                {% endfor %}
            </div>
            
            
          </div>
          
        </div>
      </div>
    </section>

    <!-- Begin Copyright Dark -->
    <div class="section-copyright bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Copyright 2016 BLOCKCHAINLAB Srl - via Timavo 34, Milano - Cod. Fis. 09293740966</p>
          </div>
        </div>
      </div>
    </div>
    
    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
	{% include footer.html %}
    
  </body>
</html>
